.footer__wrapper
{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-footer);
}
.footer__text
{
 color: var(--color-white);
 font-size: 0.8rem;
}